body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.email-form {
    width: 15%;
}

.password-form {
    width: 15%;
}

.login-btn {
    width: 15%;
    margin-left: 15%;
    margin-bottom: 30%;
}

.login-form {
    margin-top: 25%;
}

.selected {
    font-weight: lighter;
    background-color: #e6e6e6 !important;
    border-radius: 3%;
}

#footer {
    margin-top: 30%;
}

.dropdown-suggest {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0px 0px 4px 4px;
    border-top: 0px;
}

.text-suggest {
    margin-left: 4%;
    color: #afa7a7;
}

.input-search {
    border-radius: 4px 4px 0px 0px !important;
    border-bottom-color: #e8e8e8;
    width: 300px;
}

.nav-config {
    position: absolute;
    top: 0;
    width: 100%;
}

.btn-search{
    position: fixed;
}